{% extends 'appWithSearch.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Résultats de recherche</h1>
            <ul>
                {% if usersList != null %}
                    <div class="card-group">
                    {% for user in usersList %}
                        {% if user[0] is defined %}
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('images/profile/' ~ user[0].ImageName) }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ user[0].username }}</h5>
                                        <p class="card-text">{{ user[0].locality }} - {{ user.distance }} kms</p>
                                        <p class="card-text"><small class="text-muted">{{ user[0].skill }}</small></p>
                                    </div>
                                </div>
                        {% else %}
                            <div class="card">
                                <img class="card-img-top" src="{{ asset('images/profile/' ~ user.ImageName) }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ user.username }}</h5>
                                    <p class="card-text">{{ user.skill }}</p>
                                    <p class="card-text"><small class="text-muted">{{ user.locality }}</small></p>
                                    <a href="{{ path('showUser', {'id': user.id}) }}" class="btn btn-info">voir profil</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    {% else %}
                        <p>Aucun résultats trouvés pour "{{ keyword }}", {{ skill.skill }}</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}