{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
    <div class="card-body">
        <div class="fos_user_user_show">
            {% if user.imageName != null %}
                <div class="img-box mb-3">
                    <img class="profile-img" src="{{ asset('images/profile/' ~ user.ImageName) }}" alt="Photo de profil de {{ user.username }}">
                </div>
            {% endif %}
            <h5 class="text-center">{{ user.username }}</h5>
            <p class="lead">- {{ user.skill }}</p>
            <hr>
            <p class="text-muted text-center">
                {{ user.locality }}<br>
                {{ user.email }}
            </p>
            <hr>
            {% if user.notes|length != 0 %}
                <p>Moyenne de {{ note | round(1, 'floor') }}/5</p>
                <hr>
            {% else %}
                <p>pas encore de note</p>
                <hr>
            {% endif %}
            <a href="{{ path('showRequest') }}"><span id="invitation-container" class="badge badge-info"></span> invitations</a>
            <hr>
            <nav class="nav flex-column">
                <a class="nav-link" href="{{ path('fos_user_profile_edit') }}">
                    <i class="far fa-user"></i> Modifier mon profil
                </a>
                <a class="nav-link" href="{{ path('gallery') }}">
                    <i class="far fa-edit"></i> Modifier ma galerie
                </a>
                <a class="nav-link" href="{{ path('create_collab') }}">
                    <i class="fas fa-plus"></i> Créer une collab
                </a>
                <a class="nav-link" href="{{ path('showCollab') }}">
                    <i class="far fa-handshake"></i> Voir les collabs
                </a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                        <i class="fas fa-sign-out-alt"></i> se déconnecter
                    </a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>