{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Profile</h1>
            <div class="fos_user_user_show">
                {% if user.imageName != null %}
                    <div class="img-box mb-3">
                        <img class="profile-img" src="{{ asset('images/profile/' ~ user.ImageName) }}" alt="Photo de profil de {{ user.username }}">
                    </div>
                {% else %}
                <div class="alert alert-info mb-3">
                    Vous n'avez pas encore mis de photo de profil,
                    <a href="{{ path('fos_user_profile_edit') }}">
                        cliquez-ici
                    </a>
                    pour en mettre une.
                </div>
                {% endif %}

                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Pseudo</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">E-mail</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Adresse</th>
                        <td>{{ user.streetNumber }} {{ user.route }}, {{ user.locality }} - {{ user.country }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Compétence</th>
                        <td>{{ user.skill }}</td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-dark" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
            </div>
    </div>
</div>
