<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}Meetlight{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <!-- Croppie CSS -->
    {% block croppieCSS %}{% endblock %}
    <!-- Dropzone CSS -->
    {% block dropzoneCSS %}{% endblock %}
    <!-- Bootstrap-Datepicker -->
    {% block bootstrapDatepicker %}{% endblock %}
</head>

<body>
{% include 'app/inc/navbar.html.twig' %}
<div class="container">
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% block body %}{% endblock %}

{% block javascript %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="{{ asset('js/vendor/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Bootstrap-Datepicker -->
    <script src="{{ asset('js/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <!-- Personal js -->
    <script type="text/javascript">
        const usersList = '{{ path('usersJson') }}';
    </script>

    <!-- Ajax Request -->
    <!--// Invitations //-->
    <script type="text/javascript" src="{{ asset('js/ajaxRequest.js') }}"></script>
    <script type="text/javascript">
        invitation('#invitation-container', '{{ path('invitationJson') }}')
    </script>
{% endblock %}
</body>
</html>
