{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Créer un compte</h1>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.lastName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.firstName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.username) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.skill) }}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ 'form.address' | trans }}</label>
                    <input class="form-control" id="user_input_autocomplete_address" placeholder="Votre adresse...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.plainPassword.first) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.plainPassword.second) }}
            </div>
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>

        {{ form_end(form) }}
    </div>
</div>
